<ion-card class="tarjeta">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col class="info-principal-container">
          <span>{{date}} {{time}}</span>
          <h1 class="title">{{temperature}} °C</h1>
          <div class="text">
            <p>{{weather}}</p>
            <p>Sensacion termica: {{thermalSensation}} °C</p>
          </div>
        </ion-col>
        <ion-col class="info-principal-container">
          <img src="https://img.icons8.com/fluency/144/sun.png" width="200" alt="sun"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
